<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
        <title><%= title %></title>
    </head>
    <style>
        .table-wrapper {
            margin-top: 50px;
        }

        .player-img {
            width: 40px;
            height: 40px;
        }

        .add-player-form {
            margin-top: 50px;
        }
    </style>
    <body>
        <div class="page-wrapper">
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1" ><a href="/">Socka Players</a></span>
                <a class="float-right" href="/add" title="Add a New Player">Add a Player</a>
            </nav>